body {

    font-family: verdana, sans-serif;

}

h1{

    color: #666;
    margin-top: 49px;
    font-size: 48px;
    padding-left: 76px;

}

.text-subtitle {

    color: #f07c17;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
 }

 .mug {

     max-width: 370px;
     margin-bottom: 35px;
     margin-top: 15px;

 }

p {

     color: #666;
     font-size: 16px;
     line-height: 32px;
}

 .bord {

     border: 1px solid #000;
     border-color: #ccc;
     max-width: 370px;
     padding: 0px 0px 35px;

}

ul {

    list-style-type: disc;
}

li {
    font: verdana,  sans-serif;
    color: #666;
    line-height: 30px;
    font-size: 14px;
    text-indent: 30px;
}

.mainfeatures {

    color: #f07c17;
    padding: 7px 0px 25px 32px;
    font-size: 26px;

}

 .mockup-overlay {
    top: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.4;

}



